* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: white;
}

.main-container {
    border: 1px solid white;
    padding: 30px 10px;
    margin: 0 auto;
    width: 90%;
}

.main-container h1 {
    text-align: center;
    margin-bottom: 2%;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(4, auto); */
    grid-auto-rows: 120px;
    grid-gap: 10px;
}

.grid-item {    
    border: 1px solid red;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-shadow: 1px 2px 3px BLACK, -1px -2px 3px rgb(255, 255, 255);
}


/* css media screen sizes */

@media only screen and (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(6, auto);
    }
}

@media only screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(4, auto);
    }
}

@media only screen and (max-width: 650px) {
    .grid-container {
        grid-template-columns: repeat(3, auto);
    }
}

@media only screen and (max-width: 450px) {
    .grid-container {
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (max-width: 300px) {
    .grid-container {
        grid-template-columns: repeat(1, auto);
    }
}

/* ---------- end ------------ */